services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
      waha:
        condition: service_started
    restart: always
    environment:
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_REDIRECT_URI: ${GOOGLE_REDIRECT_URI}
      FACEBOOK_CLIENT_ID: ${FACEBOOK_CLIENT_ID}
      FACEBOOK_CLIENT_SECRET: ${FACEBOOK_CLIENT_SECRET}
      FACEBOOK_REDIRECT_URI: ${FACEBOOK_REDIRECT_URI}
      SESSION_SECRET: ${SESSION_SECRET}
      WAHA_BASE_URL: ${WAHA_BASE_URL}
      WAHA_API_KEY: ${WAHA_API_KEY}
      WAHA_CHAT_ID: ${WAHA_CHAT_ID}
    ports:
      - "3000:3000"
    networks:
      - web
      - internal

  migrate:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    restart: "on-failure"
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@db:${DB_PORT}/${DB_NAME}
    command: npm run migrate
    networks:
      - internal

  db:
    image: postgres:17.5
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${DB_NAME} -U ${DB_USER}"]
      interval: 5s
      retries: 5
    networks:
      - internal

  caddy:
    image: caddy:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - web
    depends_on:
      - app

  waha:
    image: devlikeapro/waha:arm-2026.2.2
    restart: unless-stopped
    environment:
      WAHA_API_KEY: ${WAHA_API_KEY}
      WAHA_DASHBOARD_ENABLED: ${WAHA_DASHBOARD_ENABLED}
      WHATSAPP_SWAGGER_ENABLED: ${WHATSAPP_SWAGGER_ENABLED}
    ports:
      - "3001:3000"
    volumes:
      - waha_config:/app/config
    networks:
      - internal

volumes:
  db-data:
  caddy_data:
  caddy_config:
  waha_config:

networks:
  web:
  internal:
